<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<!-- 使用jdbc的事务，mybatis进行管理 -->
			<transactionManager type="JDBC" />
			<!-- 使用jdbc的连接池连接数据库 -->
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
				<property name="username" value="scott" />
				<property name="password" value="123" />
			</dataSource>
		</environment>
	</environments>
	<!-- 映射文件的配置 -->
	<mappers>
		<package name="com.cn.gxa.mapper"/>
	</mappers>
	<!-- <mappers>
		<mapper resource="mapping/ClassesMapper.xml"/>
		<mapper resource="mapping/StudentMapper.xml"/>
	</mappers> -->
</configuration>
